body{
	font-family: 'IBM Plex Serif', serif;
	background-color: #cccccc;
	color: #828282;
}
iframe{
	background-color: white;
}
.barra{
	width: 100%;
	top: 0px;
	text-align: center;
	font-size: 30px;
}
.barra h1{
	margin: 0px;
}
.barra p{
	margin: 0px;
}
.footer{
	text-align: center;
}
.estudiantes iframe{
	width: 100%;
	height: 500px;
}
