body{
	background-color: white;
	color: black; 
	font-family: 'IBM Plex Serif', serif;
}
.lista h1{
	font-size: 30px;
	margin: 0px;
	text-align: center;
}
.lista a{
	text-decoration: none;
	float: left;
	margin-left: 41%;
}
.lista a:hover{
	color: white;
	background-color: black;
}
.for{
	padding: 10px;
	margin: 30px;
	color: black;

	border-radius: 5px;
	border-style: dashed;

}
.for p{
	margin: 0px;
}
.for h2{
	text-align: center;
}
.for img{
	margin-left: 45%;
/*
.list{
	padding: 10px;
}
.list a{
	list-style: none;
	text-decoration: none;
}
.list a:hover{
	color: white;
	background-color: black;
}
*/
